<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <button type="submit">Save</button>
    <button (click)="createUser(userForm)">Create User</button>
  </div>
  <div>
    <label>First Name:
      <input type="text" formControlName="firstName">
    </label>
  </div>
  <div>
    <label>Last Name:
      <input type="text" formControlName="lastName">
    </label>
  </div>
  <div class="form-group">
    <label>Street Address:
      <input type="text" formControlName="streetAddress">
    </label>
    <label>City:
      <input type="text" formControlName="cityAddress">
    </label>
    <label>State:
      <input type="text" formControlName="stateAddress">
    </label>
    <label>Zip Code:
      <input type="number" formControlName="zipcodeAddress">
    </label>
  </div>
</form>
