:host {
  form {
    width: 400px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    > * {
      width: 100%;
    }
    > .form-group {
      > * {
        width: 100%;
      }
    }
  }
}
